<table class="table table-hover table-inverse">
  <% if @range =="User" %>
    <tbody>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Introduction</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image, size: '50x50' %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>